.vcb-basket {
}

.vcb-basket-alert {
}

.vcb-basket-title {
}

.vcb-empty-basket {
  margin: 7vh 5vw;
  .vcb-basket-basket-svg {
    width: 100%;
    opacity: 0.05;
  }
}

.vcb-basket-items {
}

.vcb-basket-item {
  padding-bottom: 1rem;
}

.vcb-basket-thumbnail-wrapper {
  display: flex;
  justify-content: space-between;

  .vcb-basket-thumbnail {
    width: 150px;
  }
}

.vcb-basket-delete {
}

.vcb-basket-delete-svg {
}

.vcb-basket-title {
  padding: 0.5rem 0;
}

.vcb-basket-description {
}

.vcb-basket-buttons {
}

.vcb-basket-button {
}

.vcb-basket-button-svg {
}

.vcb-basket-quantity {
}

.vcb-basket-button-svg {
}

.vcb-basket-price {
}

.vcb-basket-checkout {
}
