.hb-basket {
}

.hb-basket-alert {
}

.hb-basket-title {
}

.hb-basket-items {
}

.hb-basket-item {
  padding-bottom: 1rem;
}

.hb-basket-thumbnail-wrapper {
  display: flex;
  justify-content: space-between;

  .hb-basket-thumbnail {
    width: 150px;
  }
}

.hb-basket-delete {
}

.hb-basket-delete-svg {
}

.hb-basket-title {
  padding: 0.5rem 0;
}

.hb-basket-description {
}

.hb-basket-buttons {
}

.hb-basket-button {
}

.hb-basket-button-svg {
}

.hb-basket-quantity {
}

.hb-basket-button-svg {
}

.hb-basket-price {
}

.hb-basket-checkout {
}
