<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <div class="me-3">
        <img class="vs-logo" src="assets/icons/distribute-vertical.svg" />
      </div>
      <div class="fs-4"><strong>Vertical</strong> Micro-Frontends eShop</div>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a routerLink="catalog-basket" routerLinkActive="active" class="nav-link mb-0" aria-current="page">Catalog</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders-account" routerLinkActive="active" class="nav-link mb-0">Account</a>
      </li>
    </ul>
    <div class="border-start ms-2 me-2">
      <vs-identity></vs-identity>
    </div>
  </header>
</div>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="container-fluid">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a routerLink="catalog-basket" class="nav-link px-2 text-muted">Catalog</a>
      </li>
      <li class="nav-item">
        <a routerLink="orders-account" class="nav-link px-2 text-muted">Account</a>
      </li>
    </ul>
    <p class="text-center text-muted">© 2021 Przemysław Pobuta 152194</p>
  </footer>
</div>
