.voa-orders_detail {
  &-titles {
    margin-bottom: 1.5rem;
    text-transform: uppercase;
  }

  &-title {
    text-transform: uppercase;
  }

  &-items {
  }

  &-thumbnail-container {
    width: 10rem;
  }

  &-thumbnail-wrapper {
    background-color: #dbdede;
    height: 0;
    overflow: hidden;
    padding-top: 100%;
    position: relative;
  }

  &-thumbnail {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}
